body.main {
	background-color : powderblue;

}
h3.headline {
	color : darkred;
}
div.help {
	color : blue;
}
p.help {
	color : red;
	font-size : 2.0em;
}
#hot {
	background-color : orangered;
	color : blue;
}